a(class="navlink" href='/') Accueil
a(id="newslink" class="navlink" href='/news').supperpose Journal
	div#nbnotif 0
a(id="news_chat" class="navlink" href='/chat').supperpose2 Messages
	div#nbnotif_chat 0
a(class="navlink" href='/user/update') Réglages
